.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content:space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

.search-item-wrapper {
  border-right: 1px solid blue;
  margin-right: 10px;
  padding-right: 10px;
  height: 70px;
}

h5 {
  margin: 0px;
}

.main {
  height: calc(100vh - 190px);
  background-color: #5f739d;
  width: 100%;
  display: flex;
}

.recommended-list {
  text-align: center;
  width: 30%;
  border: 1px solid #fff;
  margin: 15px;
  overflow-y: auto;
  margin: auto;
  height: 100%;
}

